        <tbody>
          <tr>
            <th>1</th>
            <td>
          <%= link_to store_path(store.id) do %>
              <%= store.store_name %>
              <% end %>
           </td>
            <td><%= store.address %></td>
            <td><%= render 'star_average', { rate_name: "rate", store: store, score: store.store_comments.average(:rate).round(1) } %></td>
          </tr>
        </tbody>