<h2 class="text-center p-3">らあめんKING</h2>
  <p class="text-center">
    らあめんKINGはラーメンに特化したランキングサイトです！！<br>
    当サイトの特徴は「しょうゆ」「みそ」「とんこつ」「しお」の4種類のジャンルごとに、<br>
    本当に美味しいラーメンを見つけることの出来る点です。</p>
  <p class="text-center">
    従来のグルメサイトだと、みそラーメンの美味しいお店を見つけたいのに、<br>
    しょうゆラーメンが人気のお店でみそラーメンのメニューも存在することで<br>
    お店トータルの評価が上がってしまい、本当にみそラーメンがお店が見つけられないかもしれません。
  </p>
  <p class="text-center">
    当サイトでは、お店のメニューごとに評価がつけられるので<br>
    ジャンル別に本当においしいお店が発見することが出来ます。
  </p>
  <h5 class="text-center p-2"><ユーザー登録すると出来ること></h5>
    <ul class="text-center list-unstyled">
      <li>口コミの投稿</li>
      <li>店舗情報の追加・更新</li>
    </ul>
    <%= image_tag asset_path('ramen_store.jpeg'), class:"med-pic" %>