<div class="container text-center">
  <h2 class="about_title p-3">らあめんKING</h2>
    <p>
      らあめんKINGはラーメンに特化したランキングサイトです！！<br>
      当サイトの特徴は「しょうゆ」「みそ」「とんこつ」「しお」の4種類のジャンルごとに、<br>
      本当に美味しいラーメンを見つけることが出来る点です。</p>
    <p>
      従来のグルメサイトだと、みそラーメンの美味しいお店を見つけたいのに、<br>
      しょうゆラーメンが人気のお店でみそラーメンのメニューも存在することで<br>
      お店トータルの評価が上がってしまい、本当にみそラーメンがお店が見つけられないかもしれません。
    </p>
    <p>
      当サイトでは、お店のメニューごとに評価がつけられるので<br>
      ジャンル別に本当においしいお店が発見することが出来ます。
    </p>
  <h5 class="about_text p-2">＜ユーザー登録すると出来ること＞</h5>
    <ul class=" list-unstyled">
      <li>口コミの投稿</li>
      <li>口コミに対する</li>
      <li>店舗情報の追加・更新</li>
    </ul>
  <h5 class="about_text p-2">＜ランキングについて＞</h5>
    <ul class=" list-unstyled">
      <li>5件以上の口コミが投稿されるとランクインします。（ユーザーランキングは除きます）</li>
      <li>店舗が休業中・閉店後はランキングから除外されます。</li>
    </ul>
  <div class="mx-auto text-center">
    <%= image_tag asset_path('ramen_store.jpeg'), class:"img-fluid" %>
  </div>
</div>